@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-li {
    @apply inline-block mx-2;
  }
  .navbar-li:nth-child(4n + 1) {
    @apply xl:hidden inline-block;
  }

  .navbar-li:nth-child(4n + 2) {
    @apply hidden xl:inline-block;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
  }

  button {
    @apply focus:outline-none;
  }
}
